.home {
}

.administrator {
    padding-bottom:50px;
}

.stat {
    color: #bababa;
    font-size: 1.5em;
}

.stat-large {
    font-size: 3em;
    font-weight: 900;
}

.stat-medium {
    font-size: 2.5em;
    font-weight: 900;
}

.stat-small {
    font-size: 2em;
    font-weight: 900;
}