<ion-view title="Upcoming events" id="events">
    <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="true">
       <ion-list id="nesta-list3">
            <ion-item class="item-icon-right balanced item ic-selected" id="nesta-list-item9" data-componentid="list-item9">
<!--                <img src="img/4gF7PDnYTmysHP830N1p_ScreenShot2016-07-14at21.07.33.png">-->
                <h2balanced>Makers Fair
                    <p>Rome, Italy</p>
                    <i class="icon icon-accessory margin-right-10">19th October 2016</i>
                </h2balanced>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>