<ion-view title="Upcoming events" id="events">
    <ion-content padding="false" class="manual-remove-top-padding has-header" scroll="true">
        <ion-refresher
                pulling-text="Release to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list id="nesta-list3">
            <ion-item class="item-icon-right balanced item ic-selected" id="nesta-list-item9"
                      data-componentid="list-item9"
                      ng-repeat="event in events"
                      ui-sref="tabsController.event(event)">
                <h2balanced>{{event.title}}
                    <p>{{event.region}}, {{event.country}}</p>
                    <i class="icon icon-accessory margin-right-10" style="top:25px; font-size: 10px;">{{event.startDay}}</i>
                </h2balanced>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>