<ion-view title="Leaderboard" id="page3" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="leaderboard-list2" class=" ">
            <ion-item class="item-avatar item-icon-right balanced  " id="leaderboard-list-item1" ui-sref="tabsController.nesta">
                <img src="img/CGSrfRMxQVgP4qya7FQn_Screen Shot 2016-07-15 at 12.50.50.png">
                <h2balanced>Nesta
                    <p>12 Signups</p>
                    <i class="icon ion-ios-arrow-right icon-accessory"></i>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar item-icon-right balanced  " id="leaderboard-list-item2">
                <img src="img/EIjAw1h9SA6lynruh5JT_imgres.png">
                <h2balanced>The Waag Society
                    <p>8 Signups</p>
                    <i class="icon ion-ios-arrow-right icon-accessory"></i>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar item-icon-right balanced  " id="leaderboard-list-item3">
                <img src="img/NPtfo5S7RfmOpKanjSy5_imgres-1.png">
                <h2balanced>SUPSI
                    <p>2 Signups</p>
                    <i class="icon ion-ios-arrow-right icon-accessory"></i>
                </h2balanced>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>