<ion-view title="Nesta" id="page8">
    <ion-content padding="false" class="has-header">
        <ion-list id="nesta-list3">
            <ion-item class="item-avatar item-icon-right balanced" id="nesta-list-item9">
                <img src="img/4gF7PDnYTmysHP830N1p_ScreenShot2016-07-14at21.07.33.png">
                <h2balanced>Eddie Copeland
                    <p>12 Registrations</p>
                    <i class="icon ion-ios-star icon-accessory"></i>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced" id="nesta-list-item10">
                <img src="img/eYZZznSul3gsvpNeUkww_ScreenShot2016-07-14at21.07.55.png">
                <h2balanced>Gail Dawes
                    <p>10 Registrations</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced" id="nesta-list-item11">
                <img src="img/CWO7Gbp8R6KOMTOwosIp_ScreenShot2016-07-14at21.08.14.png">
                <h2balanced>Alexandru Pandele
                    <p>7 Registrations</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced" id="nesta-list-item15">
                <img src="img/MhLKMGnTeO8nmHdE7Tfa_peter_baeck.jpg">
                <h2balanced>Peter Baeck
                    <p>6 Registrations</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced" id="nesta-list-item12">
                <img src="img/FfqCuSBaQXukOqMAkEKI_ScreenShot2016-07-15at12.26.47.png">
                <h2balanced>Daniel Pettifer
                    <p>2 Registrations</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced" id="nesta-list-item13">
                <img src="img/LvMbmU8RLKF5ROay20Dg_ScreenShot2016-07-15at12.28.12.png">
                <h2balanced>Amberley Barrington-Peek
                    <p>2 Registrations</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced" id="nesta-list-item14">
                <img src="img/gL6T6hwfRNmqznbC2X61_marco_zappolorto.jpg">
                <h2balanced>Marco Zappalorto
                    <p>1 Registrations</p>
                </h2balanced>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>