<ion-view title="Leaderboard" id="page8">
    <ion-content padding="false" class="has-header">
        <ion-list id="nesta-list3">
            <ion-item class="item-avatar item-icon-right balanced item ic-selected" id="nesta-list-item9" data-componentid="list-item9">
                <img src="img/4gF7PDnYTmysHP830N1p_ScreenShot2016-07-14at21.07.33.png">
                <h2balanced>Eddie Copeland
                    <p>Nesta</p>
                    <i class="icon icon-accessory margin-right-10">17 signups</i>
                </h2balanced>
            </ion-item>
            
          
            <ion-item class="item-avatar item-icon-right balanced item ic-selected" id="nesta-list-item9" data-componentid="list-item9">
                <img src="img/eYZZznSul3gsvpNeUkww_ScreenShot2016-07-14at21.07.55.png">
                <h2balanced>Gail Dawes
                    <p>Nesta</p>
                    <i class="icon icon-accessory margin-right-10">12 signups</i>
                </h2balanced>
            </ion-item>
            
            <ion-item class="item-avatar item-icon-right balanced item ic-selected" id="nesta-list-item9" data-componentid="list-item9">
                <img src="img/CWO7Gbp8R6KOMTOwosIp_ScreenShot2016-07-14at21.08.14.png">
                <h2balanced>Alexandru Pandele
                     <p>Nesta</p>
                    <i class="icon icon-accessory margin-right-10">11 signups</i>
                </h2balanced>
            </ion-item>
            
            <ion-item class="item-avatar item-icon-right balanced item ic-selected" id="nesta-list-item9" data-componentid="list-item9">
                <img src="img/MhLKMGnTeO8nmHdE7Tfa_peter_baeck.jpg">
                <h2balanced>Peter Baeck
                     <p>Nesta</p>
                    <i class="icon icon-accessory margin-right-10">9 signups</i>
                </h2balanced>
            </ion-item>
            
            <ion-item class="item-avatar item-icon-right balanced item ic-selected" id="nesta-list-item9" data-componentid="list-item9">
                <img src="img/FfqCuSBaQXukOqMAkEKI_ScreenShot2016-07-15at12.26.47.png">
                <h2balanced>Daniel Pettifer
                     <p>Nesta</p>
                    <i class="icon icon-accessory margin-right-10">4 signups</i>
                </h2balanced>
            </ion-item>
            
            <ion-item class="item-avatar item-icon-right balanced item ic-selected" id="nesta-list-item9" data-componentid="list-item9">
                <img src="img/LvMbmU8RLKF5ROay20Dg_ScreenShot2016-07-15at12.28.12.png">
                <h2balanced>Amberley Barrington-Peek
                      <p>Nesta</p>
                    <i class="icon icon-accessory margin-right-10">3 signups</i>
                </h2balanced>
            </ion-item>
            
            <ion-item class="item-avatar item-icon-right balanced item ic-selected" id="nesta-list-item9" data-componentid="list-item9">
                <img src="img/gL6T6hwfRNmqznbC2X61_marco_zappolorto.jpg">
                <h2balanced>Marco Zappalorto
                     <p>Nesta</p>
                    <i class="icon icon-accessory margin-right-10">2 signups</i>
                </h2balanced>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>