<ion-view title="New registration" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="newRegistration-form1" class="list ">
            <label class="item item-input item-floating-label underline" id="newRegistration-input1">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input item-floating-label underline" id="newRegistration-input2" name="Registration email">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email">
            </label>
            <ion-toggle toggle-class="toggle-balanced" id="newRegistration-toggle1" name="create project" class=" underline">Project</ion-toggle>
            <ion-toggle toggle-class="toggle-balanced" id="newRegistration-toggle2" name="create organisation" class=" underline">Organisation</ion-toggle>
            <label class="item item-input item-floating-label underline" id="newRegistration-input3" name="Name of project or organisation">
                <span class="input-label">Name of project or organisation</span>
                <input type="text" placeholder="Name of project or organisation">
            </label>
            <a ui-sref="tabsController.register" id="newRegistration-button3" class=" button button-balanced button-large button-block icon ion-android-add "></a>
        </form>
    </ion-content>
</ion-view>