<ion-view title="New registration" id="page6" style="background-color:#FFFFFF;" can-swipe-back="false">
    <ion-content padding="true" class=" manual-remove-top-padding has-header" scroll="true">
        <form id="newRegistration-form1" class="list">
            <label class="item item-input item-floating-label underline" id="newRegistration-input1" name="Name">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="data.firstName">
            </label>
            <label class="item item-input item-floating-label underline" id="newRegistration-input10" name="Surname">
                <span class="input-label">Surname</span>
                <input type="text" placeholder="Surname" ng-model="data.lastName">
            </label>
            <label class="item item-input item-floating-label underline" id="newRegistration-input2"
                   name="Registration email">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email" ng-model="data.email">
            </label>
            <label class="item item-input item-floating-label underline" id="newRegistration-input3" name="Job title">
                <span class="input-label">Job title</span>
                <input type="text" placeholder="Job title" ng-model="data.jobTitle">
            </label>
            <label class="item item-input item-floating-label underline" id="newRegistration-input11"
                   name="Organisation">
                <span class="input-label">Organisation</span>
                <input type="text" placeholder="Organisation" ng-model="data.organisation">
            </label>
            <button id="newRegistration-button3" ng-click="save()"
				style="font-weight:500;" class="button button-balanced button-large button-full button-clear"
                    ng-class="{'ion-load-b': loading}">
                {{loading == true ? '' : 'Complete registration'}}
            </button>
        </form>
    </ion-content>
</ion-view>