<ion-view title="Profile" id="page10" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <div class="item-avatar-large" style="margin-left: -10px; width: calc(100% + 20px);">
            <img ng-src="http://test.digitalsocial.eu/images/users/profile/{{user.profilePic}}"
                 width="100%" height="" style="display:block;">
        </div>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <h4 id="profile-heading2" style="color:#000000;text-align:center;">{{user.name}}</h4>
        <div id="profile-markdown1" style="color:#000000;text-align:center;">
            <p>{{user.jobTitle}}
                <strong>{{user.organisation}}</strong>
            </p>
        </div>
    </ion-content>
</ion-view>