<ion-view title="Register user" id="page2" style="background-color:#FFFFFF;">
    <ion-content padding="true" class=" manual-remove-top-padding has-header" scroll="false">
        <div class="homepage-logo animated fadeInUp">
            <img src="img/OojdWEvNQeGWExnkh3ue_dsi-dark.png" width="20%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="registerUser-heading1" style="color:#000000;font-weight:300;text-align:center;" class="padding-sides animated fadeInUp2">Found a DSI project or organisation?</h3>
        <a ui-sref="tabsController.newRegistration" id="registerUser-button1" style="font-weight:500;font-size:17px;border-radius:0px 0px 0px 0px;" class="button button-balanced button-large button-block button-clear animated fadeInUp3">Register new user</a>
        <div id="registerUser-markdown5" style="color:#BABABA;text-align:center;" class="note animated fadeInUp4">
            <p>Register a new user on digitalsocial.eu</p>
        </div>
    </ion-content>
</ion-view>