<ion-view title="Signup" id="page7" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list height-full">
            <ion-list id="signup-list1">
                <label class="item item-input item-floating-label underline" id="signup-input4" name="Name">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input item-floating-label underline" id="signup-input5" name="Email">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label underline" id="signup-input6" name="Password">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="Password">
                </label>
            </ion-list>
            <button id="signup-button2" class="button button-balanced  button-block bottom">Sign up</button>
        </form>
    </ion-content>
</ion-view>